@page "/"
@using BookStore.Application.Contracts
@inject IExportPdfAppService ExportPdfAppService
@inject IJSRuntime JsRuntime

<Row Class="d-flex px-0 mx-0 mb-1">
    <Button Clicked="@(ExportPdf)" class="p-0 ml-auto mr-2" style="background-color: transparent"
            title="Download">
        <span class="fa fa-file-pdf fa-lg m-0" style="color: #008000; background-color: white;"
              aria-hidden="true">
        </span>
        Generate Pdf!
    </Button>
</Row>

@code {
    private async Task ExportPdf()
    {
        var pdfBytes = await ExportPdfAppService.GeneratePdf();
        await JsRuntime.InvokeVoidAsync("saveAsFile", $"test_{DateTime.Now.ToString("yyyyMMdd_HHmmss")}.pdf",
            Convert.ToBase64String(pdfBytes));
    }
}